.main-signup-container{
    background-color: rgba(241,245,254,255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-section{
    width: 90%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 4%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

}

.main-grid-container{
    min-width: 100%;
    box-sizing: border-box;
}

.signup-button{
    background-color: #8f89b7 !important;
    color: white !important;
    margin-bottom: 2%;
    width: 100%;
    padding: 10px 0;
}

@media (max-width: 1020px) {
    .signup-section{
        width: 80%;
        
    
    }
  }